doctype HTML
html
	head
		title='Hunter\'s Class Schedule'

		block scripts
			script(src="statics/js/jquery-3.4.1.min.js")
			script(src='statics/js/Class.js')
			script(src='statics/js/Schedule.js')


	body
		block content



		block footer
			br
			br
			a(href='/') Home